@import 'colors';
@import 'grid';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
	  -webkit-font-smoothing: antialiased;
    background-color: $blue;
    padding-top: 60px;
    width: 100%;

    @media #{$grid-lg-up} {
        padding: 0;
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 10px;
    padding: 0;
}
