@import 'components/App/variables.scss';
@import 'components/App/utils.scss';

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Noto+Sans:700|Roboto:700);

html {
    box-sizing: border-box;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: $pink;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    color: $white;

    @media #{$grid-lg-up} {
        padding: 200px 0 0;
    }
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

$size: 32;
$line: 12;

@for $i from 1 through 6 {
    h#{$i} {
        @include font-header;
        @include selection;
        @include font-size($size);
        margin: 0 0 #{$line}px;
        padding: 0;
        $size: $size - 2;
        $line: $line - 2;
    }
}

a {
    @include selection;
    text-decoration: none;
    color: $yellow;
    transition: color .2s;

    &:hover,
    &:focus {
        color: $black;
    }
}

p {
    @include font-normal;
    @include selection;
    margin: 0 0 10px;
    word-break: break-word;
}

img {
    float: none;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.align-left {
    @include align-left;
}

.align-right {
    @include align-right;
}

.grid-row {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    width: 100%;

    @media #{$grid-lg-up} {
      margin: 0 auto;
      max-width: $grid-size;
    }
}
