@import 'components/App/fonts.scss';

.list-regular {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;

    .list-item {
        margin: 0 0 10px;
    }

    .list-title {
        @include font-header;
        font-size: 24px;
        margin: 0;
    }

    p {
        font-size: 22px;
        line-height: 1.3;
    }
}
