/*! Honeymustard Theme */

@import 'vendor/normalize';
@import 'fonts';
@import 'vars';
@import 'colors';
@import 'utils';
@import 'lists';
@import 'layout/page';
@import 'layout/head';
@import 'layout/menu';
@import 'layout/logo';
@import 'layout/main';
@import 'layout/side';
@import 'layout/foot';
@import 'pages/projects';
@import 'pages/education';
@import 'pages/error';

/**
 * defaults.
 */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	-webkit-font-smoothing: antialiased;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    @include font-header;
    @include selection;
    line-height: 1.2;
    margin: 0 0 10px;
    padding: 0;
}

$size : 24;

@for $i from 1 through 6 {
    h#{$i} {
        @include font-size($size);
        $size : $size - 2;
    }
}

a {
    @include selection;
    text-decoration: none;
}

p {
    @include font-normal;
    @include selection;
    margin: 0 0 10px;
    word-break: break-word;
}

img {
    float: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.area {
    @include clearfix;
    @include font-normal;
    padding: $page_space;
}

.align-left {
    @include align-left;
}

.align-right {
    @include align-right;
}

