// Colors
$black: #222;
$white: #fff;
$blue: #07d;
$pink: #f8d;
$dark_pink: #f59;
$yellow: #ff5;

// Grid
$grid-gutter: 20px;
$grid-size: 1024px;
$grid-lg-up: '(min-width: #{$grid-size})';

// Fonts
$font-sans: 'Source Sans Pro';
$font-noto: 'Noto Sans';

@mixin font-size($size) {
    font-size: $size + 0px;
    line-height: 1.2;
}

@mixin font-normal {
    font-family: $font-sans, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
}

@mixin font-header {
    font-family: $font-noto, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}