// Colors
$black: #000;
$white: #fff;
$blue: #07d;
$pink: #fab;
$dark_pink: #f59;
$darker_pink: #f39;
$yellow: #ff5;
$dark_gray: #444;
$lighter_gray: #555;

// Grid
$grid-gutter: 20px;
$grid-size: 1024px;
$grid-lg-up: '(min-width: #{$grid-size})';

// Fonts
$font-sans: 'Source Sans Pro';
$font-noto: 'Noto Sans';
$font-roboto: 'Roboto';

@mixin font-size($size) {
    font-size: $size + 0px;
    line-height: 1.2;
}

@mixin font-normal {
    font-family: $font-sans, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
}

@mixin font-header {
    font-family: $font-noto, sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 30px;
}

@mixin font-sub-header {
    font-family: $font-roboto, sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
}
