@import 'src/components/App/grid.scss';

.main {
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 30px;

    @media #{$grid-lg-up} {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
