@import 'components/App/variables.scss';

.latest-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.latest-item {
    margin: 0 0 30px;

    @media #{$grid-lg-up} {
        margin: 0 0 40px;
    }
}

.latest-label {
    @include font-normal;
    font-size: 26px;
    color: $pink;
    display: block;
    margin: 0 0 10px;
    font-weight: 700;
}

.latest-title {
    font-size: 26px;
}
