@import 'components/App/variables.scss';

.tech-list {
    max-width: 500px;
}

.tech-item {
    font-family: $font-sans, sans-serif;
    background-color: $dark_pink;
    display: inline-flex;
    margin: 0 6px 12px 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 4px;
}
