@import 'components/App/variables.scss';

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    display: none;
    transition: background-color .8s ease;
    padding-top: 110px;
    padding-bottom: 40px;

    @media #{$grid-lg-up} {
        padding-top: 220px;
        padding-bottom: 40px;
    }

    &.is-visible {
        display: block;
    }

    &.is-open {
        background-color: $dark_pink;
    }

    &.is-open .menu-links {
        opacity: 1;
    }

    &.fade-in .menu-links {
        transition: opacity 1s;
        transition-delay: .4s;
    }

    &.fade-out .menu-links {
        transition: opacity .6s;
        transition-delay: 0s;
    }

    .menu-links {
        opacity: 0;
    }

    a {
        color: $yellow;

        &:hover,
        &:focus {
            color: $black;
        }
    }

    .menu-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        @media #{$grid-lg-up} {
            text-align: center;
        }
    }

    .menu-item {
        margin: 0 0 25px;

        @media #{$grid-lg-up} {
            margin: 0 0 40px;
        }

        a {
            @include font-header;
            font-size: 32px;
            line-height: 1.2;
            float: none;
            display: inline-block;
            letter-spacing: 1px;

            @media #{$grid-lg-up} {
                font-size: 50px;
                letter-spacing: 2px;
            }
        }
    }
}
