@import 'components/App/variables.scss';

.foot {
    @media #{$grid-lg-up} {
        margin-top: 20px;
    }

    .foot-row {
        display: flex;
        flex-direction: column;
        flex: 1 0;
        padding-top: 20px;
        padding-bottom: 20px;

        @media #{$grid-lg-up} {
            flex-direction: row;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .foot-col {
        flex: 1 0 100%;
        margin: 0 0 20px;

        @media #{$grid-lg-up} {
            flex: 1 0 33.3%;
            margin: 0;
        }
    }
}
